#carrousel{
    position:relative;
    height:1000px;
    width:1600px;
    margin:0;
    border:1px solid transparent;
}
#carrousel ul li img{
    position:absolute;
    top:0;
    left:0;
    height:1000px;
    width:1600px;
}

#carrousel ul {
    list-style-type : none;
}

body {
    margin:0;
}