#carrousel{
    position:relative;
    height:720px;
    width:100%;
    margin:0;
    overflow:hidden;
}
#carrousel ul li img{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    height:720px;
    width:100%;
}

ul {
    list-style-type : none;
    margin-left:0;
    padding-left:0;
}

body {
    margin:0;
        font-family: arial;
}

#conteneur {
    padding-top:50px;
    display:flex;
}

#map {
    width:80%;
    height:720px;
}

#clic {
    width:20%;
    padding-left:20px;
    padding-right:20px;
    background-color:lightgrey;

}



#defileur {
    position:absolute;
    z-index:100;
    top:335px;
    display:flex;
    justify-content: space-between;
    width:100%;
}

#next {
    padding : 20px;
    font-size:50px;
    color:white;
    background-color:rgba(0,0,0,0.8);
    width:50px;
    height:50px;
    text-align:center;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
}

#prev {
    padding : 20px;
    font-size:50px;
    color:white;
    background-color:rgba(0,0,0,0.8);
    width:50px;
    height:50px;
    text-align:center;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
}

#canva {
    width: 100px;
    height:100px;
    background-color:red;
    border:1px solid green;
}

#timer {
    background-color: lightgrey;
    display: inline-block;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

#compteur {
    font-weight: bold;
    color: red;
}


    