#carrousel{
    position:relative;
    height:720px;
    width:100%;
    margin:0;
    overflow:hidden;
}
#carrousel ul li img{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    height:720px;
    width:100%;
}

ul {
    list-style-type : none;
    margin-left:0;
    padding-left:0;
}

body {
    margin:0;
}


#map {
    width:60%;
    height:720px;
    margin-top:50px;
}


#defileur {
    position:absolute;
    z-index:100;
    top:335px;
    display:flex;
    justify-content: space-between;
    width:100%;
}

#next {
    padding : 20px;
    font-size:50px;
    color:white;
    background-color:rgba(0,0,0,0.8);
    width:50px;
    height:50px;
    text-align:center;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
}

#prev {
    padding : 20px;
    font-size:50px;
    color:white;
    background-color:rgba(0,0,0,0.8);
    width:50px;
    height:50px;
    text-align:center;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
}



#status {
    width:20%;
    height:auto;

}